<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Eight</title>
    </head>
    <body>
        <form method="post">
            <label for="eight">What is your type?</label>
            <select name="eight">
                <option value="empty"></option>
                <option value="a">Person born and raised in the city!</option>
                <option value="b">Strong and independent individual</option>
                <option value="c">Someone very affectionate always</option>
            </select>
            <a href="/nine">Next</a>
        </form>
    </body>
</html>
