<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Eleven</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="eleven">What is your biggest life goal?</label>
            <select name="eleven">
                <option value="empty"></option>
                <option value="a">Have a secure and loving family</option>
                <option value="b">Be the boss of a big company</option>
                <option value="c">Who knows?! Life is an adventure!</option>
            </select>
            <a href="/twelve">Next</a>
        </form>
    </body>
</html>
