<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Fifteen</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="fifteen">Favorite cat breed?</label>
            <select name="fifteen">
                <option value="empty"></option>
                <option value="a">Scottish Fold</option>
                <option value="b">Ragdoll</option>
                <option value="c">Russian Blue</option>
            </select>
            <br />
            <a href="/result">Submit</a>
        </form>
    </body>
</html>
