<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Five</title>
    </head>
    <body>
        <form method="post">
            <label for="five">What kind of camera is your style?</label>
            <select name="five">
                <option value="empty"></option>
                <option value="a">Phone camera</option>
                <option value="b">Disposable</option>
                <option value="c">Polaroid</option>
            </select>
            <a href="/six">Next</a>
        </form>
    </body>
</html>
