<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Four</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="four">What is the best drink on a cold day?</label>
            <select name="four">
                <option value="empty"></option>
                <option value="a">Coffee</option>
                <option value="b">Whiskey</option>
                <option value="c">Tea</option>
            </select>
            <a href="/five">Next</a>
        </form>
    </body>
</html>
