<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Fourteen</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="fourteen">When you have a broken heart, what makes you feel better?</label>
            <select name="fourteen">
                <option value="empty"></option>
                <option value="a">A good cry</option>
                <option value="b">Ice cream</option>
                <option value="c">Revenge</option>
            </select>
            <a href="/fifteen">Next</a>
        </form>
    </body>
</html>
