<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Nine</title>
    </head>
    <body>
        <form method="post">
            <label for="nine">Favorite travel destination?</label>
            <select name="nine">
                <option value="empty"></option>
                <option value="a">NYC</option>
                <option value="b">Paris</option>
                <option value="c">Budapest</option>
            </select>
            <a href="/ten">Next</a>
        </form>
    </body>
</html>
