<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question One</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="one">Choose your definition of a good time:</label>
            <select name="one" id="one">
                <div class = "menu-box">
                    <option value="empty"></option>
                    <option value="a">Reading a book on the porch with your cat on your lap</option>
                    <option value="b">Picnic date! Bring the person who appreciates a nice sunny day</option>
                    <option value="c">Going to the club with your best friends</option>
                </div>
            </select>
            <a href="/two">Next</a>
        </form>
    </body>
</html>