<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Seven</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="seven">What is your favorite Christmas tradition?</label>
            <select name="seven">
                <option value="empty"></option>
                <option value="a">Kissing my love under the mistletoe</option>
                <option value="b">Gingerbread house with the fam!</option>
                <option value="c">Opening the first gift on Christmas Eve</option>
            </select>
            <a href="/eight">Next</a>
        </form>
    </body>
</html>
