<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Six</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="six">How private of a person are you?</label>
            <select name="six">
                <option value="empty"></option>
                <option value="a">Only the real ones know</option>
                <option value="b">Everyone knows everything about you</option>
                <option value="c">Extremely!!!</option>
            </select>
            <a href="/seven">Next</a>
        </form>
    </body>
</html>
