<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Ten</title>
    </head>
    <body>
        <form method="post">
            <label for="ten">Who is your hero?</label>
            <select name="ten">
                <option value="empty"></option>
                <option value="a">Beyonce</option>
                <option value="b">Santa Claus</option>
                <option value="c">Kris Jordan</option>
            </select>
            <a href="/eleven">Next</a>
        </form>
    </body>
</html>
