<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Thirteen</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="thirteen">What is your favorite snack to bring into the movies?</label>
            <select name="thirteen">
                <option value="empty"></option>
                <option value="a">Kit-Kats and Snickers</option>
                <option value="b">Skittles</option>
                <option value="c">Just popcorn, please</option>
            </select>
            <a href="/fourteen">Next</a>
        </form>
    </body>
</html>
