<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Three</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="three">What is your spirit animal?</label>
            <select name="three">
                <option value="empty"></option>
                <option value="a">Horse</option>
                <option value="b">Cat</option>
                <option value="c">Lion</option>
            </select>
            <a href="/four">Next</a>
        </form>
    </body>
</html>
