<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Twelve</title>
    </head>
    <body>
        <form method="post">
            <label for="twelve">Pick a show you would binge:</label>
            <select name="twelve">
                <option value="empty"></option>
                <option value="a">The Office</option>
                <option value="b">Jane the Virgin</option>
                <option value="c">Law & Order: SVU</option>
            </select>
            <a href="/thirteen">Next</a>
        </form>
    </body>
</html>
