<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Two</title>
    </head>
    <body>
        <form method="post">
            <label for="two">What colors best suit your personality?</label>
            <select name="two">
                <option value="empty"></option>
                <option value="a">Blue/Pink</option>
                <option value="b">Black/Yellow</option>
                <option value="c">Purple/Green</option>
            </select>
            <a href="/three">Next</a>
        </form>
    </body>
</html>