
     
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  
  
  /** ---------------------- GENERAL ---------------------- **/
  
  html {
      min-height: 10%;
      margin: auto;
      width: 30%;
      border: 50px outset #9e1616;
      background-color: #9e1616;
      background-color: rgba(255, 0, 0, 0.575);
      padding: 10px;
      background: 100%;         
      background-image: url('reputation.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      }

  body {
    width: 350px ;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    color: #8f1d1d;
    text-shadow: 1px 1px #f1eeee;
    font-size: 1.0em;
    font-family: 'Book Antiqua';
    background-attachment: fixed;
    background-color: #ffffff;
  }


  