p {
    color: #ffffff;
  }
     
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  
  
  /** ---------------------- GENERAL ---------------------- **/
  
  html {
      min-height: 20%;
      margin: auto;
      width: 60%;
      border: 3px solid #9e1616;
      border-color: #9e1616;
      background-color: #9e1616;
      padding: 10px;
      background: 100%;
      }
  
  body {
    width: 350px ;
    margin-left: auto ;
    margin-right: auto ;
    background: linear-gradient(to bottom right,  #ffffff, #ffffff);
    color: #555555;
    font-size: 1.0em;
    font-family: 'Book Antiqua';
    background-attachment: fixed;
    background-image: url('reputation.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }
